body{
    font-family: papyrus;
    background-color: gray;
}
h1{
    color:black;
}
p{
    color:red;
}
#main-header{
    text-align:center;
    color:white;
    padding:10px;
}
#main-footer{
    text-align: center;
    font-size:18px;
}