body{
    font-family: sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    color: blueviolet;
	background: #282a36;
    background-color: gray;
}

h1 {
	color: #50fa7b;
}

ul {
	color: #bd93f9;
	font-size: 3px;
}

.berry{
    width: 500px;
}

h1{
    color:black;
    color: #50fa7b;
}
h3{
    color:red;
}
p{
    color:black;
}
#main-header{
    text-align:center;
    color:white;
    padding:10px;
}
#main-footer{
    text-align: center;
    font-size:18px;
}

nav{
    display: flex;
    min-width: 100%;
    justify-content: space-around;
    background-color: blueviolet;
}
h2 > a{
    text-decoration: none;
    color: white;
}

h2>a:hover{
    border-bottom: 2px solid white;
}
